/* Wrap everything / body */

body {
    padding: 0;
    margin: 0;
    background-color: #ffffffb7;
}

main {
    flex: 1;
}

.wrapper {
    font-family: "InterVariable", system-ui, sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/*Create New Issue Box CSS*/

form {
    text-align: center;
}

input {
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-bottom: 5px;
  width: 100%;
  box-sizing: border-box;
  font-family: montserrat;
  color: #2C3E50;
  font-size: 16px;
}

input:focus {
    box-shadow: 0 4px 12px rgb(150, 145, 145);
    outline: none;
    font-weight: bold;
}

.status {
    display: flex;
    font-size: 16px;
    width: 100%;
    font-family: montserrat;
    color: #222e3ae0;

}

.test {
    font-size: 20px;
    margin-top: 10px;
    text-align: left;
}

.new-task-form {
    font-family: "InterVariable", system-ui, sans-serif;
    font-weight: Bold;
    color:rgba(24, 21, 28, 0.757);

    display: flex;
    justify-content: center; /* Centers horizontally */
    min-height: 100vh;
    font-size: 30px;
}

.submit-task {
    width: 150px;
    background: #27AE60;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 1px;
    cursor: pointer;
    padding: 10px;
    margin: 10px;
    text-decoration: none;
    font-size: 15px;
}

.close-task {
    cursor: pointer;
}

select {
    padding: 8px;
    border: 1px solid #ccc;
    font-family: montserrat;
    cursor: pointer;
}


/* Task Lists EX: To Do, In Progress, etc.*/

ul {
  padding: 5px;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  margin: 0px;
}


.TaskLists {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly; /* Spaces boxes out perfectly */
}

.status-label {
    padding-left: 30px;
    font-size: 30px;
}

.column{
    background-color: rgba(223, 220, 220, 0.358);
    width: 325px;
    /* border: 2px solid; */
    border-radius: 8px;
}

.issue-box {
    box-shadow: 0 2px 8px rgb(150, 145, 145);
    border-radius: 10px;
    width: 280px;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
}

.title {
    display: flex;
    align-items: center;
}

.title button {
    text-align: right;
    margin-left: auto;
    margin-right: 10px;
    font-size: 20px;
    cursor: pointer;
    background: transparent;
    border: none;

}

.trashcan img{
    width: 20px;
    height: 20px;
    background: transparent;
}

/* Header of Issues aka title / button*/

.header{
    display: flex;
    align-items: center;
}

.header button {
    font-size: 20px ;
    font-weight: 500;
    text-align: right;
    margin-left: auto;
    margin-right: 30px;
    border-color: rgb(33, 123, 208);
    cursor: pointer;
}

.header button:active {
    border-color: red;
}

.header button:hover {
    animation: colors 4s infinite linear;
}

.title-head {
    margin-top:20;
    padding-left: 50px;
}

/* Controls the colors in button hover 
    animation to add new task */

@keyframes colors {
    0%,
    100% {
        border-color: (33, 123, 208);
    }
    50% {
        border-color: #da1d1d;
    }
    25% {
        border-color: #fbbc05;
    }
}
