.issue-box {
  border: 2px solid black;
  border-radius: 10px;
  width: 350px;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
}

p {
  padding-left: 5px;
}

ul {
  padding: 5px;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

input {
  display: flex;
}

.status {
  display: flex;
}

.column{
    background-color: #e0e0e0;
    width: 400px;
    border:5px solid;
}

.TaskLists {
    display: flex;
    flex-wrap: wrap;
    min-width: 300px;
    gap: 20px ;
    justify-content: space-evenly; /* Spaces boxes out perfectly */

}

.status-label {
    margin-left: 50px;
}
